

body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    text-align: center;
}

.btn {
    background: white;
    padding: 6px 12px;
    border: none;
}
