.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;    
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #222222;

}
