/*
Aufgabe:
Füge etwas Abstand zwischen dem Logo
und dem Suchfeld hinzu.

Welche zwei verschiedenen Möglichkeiten
gibt es, dies mit Margins zu erreichen?
*/


.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
}

.search-input {
    display: block;
    width: 400px;
}
