/* 
Aufgabe:
Gestalte den Button so, dass er wie Twitters „Following“-Button aussieht!
(Ausnahme: die Schriftart)

Hinweise:
- Rahmenfarbe: #cfd9de
- Textfarbe: #0f1419
- Vergiss nicht das font-weight!
*/


button {
    color: #0f1419;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;


}