body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 10px solid #d8cefe;
}
